
<h1>Create a Team and Heroes!</h1>
<form action="/teams" method="post">
  <input name="team[name]" placeholder="name" />
  <input name="team[motto]" placeholder="motto" />
  <input name="member1_name" placeholder="name" />
  <input name="member1_power" placeholder="power" />
  <input name="member1_bio" placeholder="bio" />

  <input name="member2_name" placeholder="name" />
  <input name="member2_power" placeholder="power" />
  <input name="member2_bio" placeholder="bio" />

  <input name="member3_name" placeholder="name" />
  <input name="member3_power" placeholder="power" />
  <input name="member3_bio" placeholder="bio" />


  <input type="submit" id="submit">
</form>
